.formulario{
    
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-inline-size: 540px;
    margin: auto;
    margin-block-start: 50px;
    margin-block-end: 60px;
}

.formulario label{
    display: flex;
    flex-direction: column;
}

.formulario input, .formulario textarea{
    border :2px solid #858c94;
    border-radius: 8px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 12px;
    padding-block-end: 16px;
    font: var(--body1);
    margin-block-start: 8px;
}

.formulario p{
    color: var(--white);
    margin: 0;
    text-align: center;
}

.formulario .textimonio-titulo{
    margin: 0;
}
@media screen and (min-width:768px){

    .formulario .textimonio-titulo{
        align-self:stretch;
        text-align: center;

    }
    .formulario{
        margin-block-end: 20px;
    }
    
}
